# Rocket.Chat
ROCKETCHAT_URL=http://localhost:80
ROCKETCHAT_USER=your_username
ROCKETCHAT_PASSWORD=your_password

# OpenAI
OPEN_AI_API_KEY=your_openai_api_key
OPEN_AI_BASE_URL=https://api.openai.com/v1
OPEN_AI_COMPLETIONS_PATHNAME=/chat/completions
LLM_NAME=gpt-4o-mini
MAX_TOKENS=2200
TEMPERATURE=0.8